.color1, .color2, .color3, .color4 {
  color: $color5;
}

.color1 {
  background-color: $color1;
}

.color2 {
  background-color: $color2;
}

.color3 {
  background-color: $color3;
}

.color4 {
  background-color: $color4;
}

.color5 {
  background-color: $color5;
  color: $color2;
}

.border1 {
  border: 2px solid $color1;
}

.border2 {
  border: 2px solid $color2;
}

.border3 {
  border: 2px solid $color3;
}

.border4 {
  border: 2px solid $color4;
}


