@font-face {
  font-family: 'Source Sance Pro';
  src: url('./fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sance Pro SemiBold';
  src: url('./fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora SemiBold';
  src: url('./fonts/Lora-SemiBold.ttf') format('truetype');
}
