.footer {
  height: 185px;
  background-color: $color2;
  padding: 8px;
  display: flex;
  align-items: center;
  color: white;
  border: 1px solid black;
  flex-direction: column;

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
  }

  .contacts_item {
    list-style-type: none;
  }
}
