.footer {
  height: 185px;
  background-color: $color2;
  padding: 8px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;

  .title {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 14px;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 246px;
    grid-column-gap: 10px;
    justify-content: center;
  }

  .contacts_item {
    list-style-type: none;
    font-family: 'Source Sance Pro', sans-serif;
    font-size: 11px;
  }
}
