* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color1: #FFC2C7;
$color2: #A9BFE4;
$color3: #989EC3;
$color4: #351F21;
$color5: #fff;

@font-face {
  font-family: 'Source Sance Pro';
  src: url('./fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sance Pro SemiBold';
  src: url('./fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora SemiBold';
  src: url('./fonts/Lora-SemiBold.ttf') format('truetype');
}

.container {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 5px;
}

.content {
  max-width: 632px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  height: 55px;
  width: 138px;
  display: inline-block;
  margin-bottom: 20px;
}

input, textarea {
  border: none;

  &:focus{
    outline: none;
  }
}

.button {
  position: relative;
  width: 89px;
  height: 26px;
  border-radius: 13px;

  &:after {
    content: '';
    position: absolute;
    width: 89px;
    height: 26px;
    border-radius: 13px;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &:hover:after {
    background-color: rgba(0,0,0,0.1);
  }
}

.h2 {
  font-family: Lora, serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.p {
  font-family: "Source Sance Pro", sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.section23 {
  background: url('/images/abstract_background.png');
  background-position: bottom 135px right;
  background-size: 50%;
  background-repeat: no-repeat;
  position: relative;
}
