header {
  height: 7rem;
  background-color: $color2;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: white;
  }

  span {
    margin-right: 2rem;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid transparent;
    font-family: 'Lora SemiBold', serif;
    font-size: 1.4rem;

    &:hover {
      border-bottom: 0.1rem solid white;
      cursor: pointer;
    }
  }
  .icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
  }
}




