header {
  height: 70px;
  background-color: $color2;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: white;
  }

  span {
    margin-right: 20px;
    padding: 5px 0;
    border-bottom: 1px solid transparent;
    font-family: 'Lora SemiBold', serif;
    font-size: 14px;

    &:hover {
      border-bottom: 1px solid white;
      cursor: pointer;
    }
  }
  .icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
}




