.sign {
  width: 23.6rem;
  height: 2.6rem;
  background-color: white;
  border-radius: 1.3rem;
  display: flex;
  justify-content: space-between;

  input {
    height: 2.6rem;
    width: 13rem;
    border: none;
    margin-left: 1.3rem;
  }
}

.copyright {
  font-family: "Source Sance Pro", sans-serif;
  font-size: 1.1rem;
}
