.section1 {
  height: 45.5rem;
  display: flex;
  background: url("/images/bg_web-no-background.png") no-repeat;
  background-position: right center;
  background-size: 50%;
  padding: 15rem 0 0 5rem;

  div {
    width: 30rem;

    button {
      margin-right: 2rem;
    }
  }

}
