.section3 {
  height: 156px;
  background-color: rgba(229, 236, 247, 0.5);
  border-top: 1px solid transparent;

  &>div {
   max-width: 632px;
    margin: 0 auto;

    p {
      font-family: Lora, serif;
      font-size: 16px;
      margin: 5px 0;
    }
  }
}

.item_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 10vw;
      height: 10vw;
      max-width: 70px;
      max-height: 70px;
    }

    p {
      text-align: center;
      font-family: "Source Sance Pro", sans-serif;
      font-size: 11px;
    }
  }
}

p {
  font-family: Lora, serif;
  font-size: 16px;
}
