.section6 {
  height: 47rem;
  padding: 5rem 0 0 0;
}

.select {
  display: grid;
  grid-template-rows: repeat(2, 14.5rem);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem 5rem;
  margin-top: 5rem;

  .select_item {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      font-family: 'Source Sance Pro';
      font-size: 1.3rem;
      white-space: pre-line;
      margin-top: 2rem;
    }
  }

  .number {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lora;
    box-shadow: 0rem 0.9rem 1.9rem 0rem $color1;
  }
}
