.section5 {
  background-color: rgb(229, 236, 247);
  padding: 2rem 0;
  position: relative;

  & > img:first-child {
    position: absolute;
    right: 0;
    top: -5rem;
  }

  & > img:last-child {
    position: absolute;
    bottom: 23rem;
  }
}

.responses {
  display: flex;
  flex-direction: column;

  .response {
    display: flex;
    margin-top: 3rem;

    .response_item {
      width: 60%;

      justify-content: right;

      span {
        color: $color2;
        font-family: "Source Sance Pro", serif;
        font-weight: bold;
        font-size: 1.4rem;
      }

      span::before {
        content: "_____";
        display: block;
        padding-bottom: 1rem;
        color: $color1;
      }
    }
  }

  .response:nth-child(2n+1) {
    justify-content: right;
  }

  .photo {
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
  }

  input, textarea {
    margin-bottom: 2rem;
    border-radius: 1rem;
    width: 100%;
    font-family: "Source Sance Pro";
    font-size: 1.2rem;
    padding-left: 1rem;
  }

  input {
    height: 2.5rem;
  }

  textarea {
    height: 10rem;
    resize: none;
  }

  button {
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem $color2;
    color: $color5;
  }
}
