.section4 {
  padding-top: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem $color1;
  padding-bottom: 1rem;

  img {
    width: 100%;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;

  .circle {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: $color5;
    border: 0.1rem solid $color1;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .active {
    background-color: $color1;
  }
}
