.horizontal {
  text-align: center;

  img {
    width: 2rem;
    height: 2.2rem;
    margin-top: 1rem;

    &:nth-child(2) {
      margin: 0 0.5rem 0 0.6rem;
    }

    &:last-child {
      transform: scale(1.05);
      position: relative;
    }
  }
}

.vertical {
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;

  img {
    display: block;
    width: 2rem;
    height: 2.2rem;
    margin-top: 1rem;

    &:last-child {
      transform: scale(1.1);
      position: relative;
    }
  }
}

@media screen and (max-width: 760px) {
  .vertical {
    bottom: 5%;
    top: auto;
  }
}
