$color1: #FFC2C7;
$color2: #A9BFE4;
$color3: #989EC3;
$color4: #351F21;
$color5: #fff;

$source : 'Source Sance Pro', sans-serif;
$sourceSemi: 'Source Sance Pro SemiBold', sans-serif;
$lora: 'Lora', serif;
$loraSemi: 'Lora SemiBold', serif;
